@media screen and (max-width: 576px) {

  /* nav section  */
  .nav-container,
  .nav-item-container,
  .banner-container
  {
    flex-direction: column;
  }

  .nav-item-container{
    width: 100%;
  }

  .nav-item-container a{
    margin-top: 20px;
  }

  .nav-item-container .nav-btn{
    width: 100%;
    margin-bottom: 10px;
  }

  /* banner section */
  .banner-text,.banner-img{
    width: 100%;
    margin-bottom: 20px;
    
  }
  .banner-text h1{
      font-size: 30px;
  }
  .banner-text p{
      font-size: 25px;
  }
  .fa-brands{
      font-size: 30px;
  }
}