@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

*{
  box-sizing: border-box;
}

nav{
  background-color: rgb(147, 118, 224);
}

.nav-container{
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.logo-container{
  display: flex;
  gap: 15px;
  width: 50%;
}

.logo-container img{
  width: 50px;
  object-fit: cover;
}

.logo-container p{
  font-size: 30px;
}
.logo-container p span{
  color: rgb(232, 147, 207);
}

.nav-item-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item-container a{
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.nav-item-container .nav-btn{
  background-color: rgb(232, 147, 207);
  font-size: 25px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
}


/* banner section */
.banner-container{
  max-width: 1440px;
  margin: 80px auto 0px;
  display: flex;
  background-color: rgb(230, 233, 235);
  padding: 10px;
  border-radius: 10px;
}

.banner-text, .banner-img{
  width: 50%;
}

.banner-text{
  text-align: center;
}

.banner-text h1{
  background-image: linear-gradient(rgb(147, 118, 224), rgb(232, 147, 207));
  color: transparent;
  -webkit-background-clip: text;
  font-size: 50px;
}

.banner-text p{
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0px auto 40px;
}

.fa-brands{
  font-size: 60px;
}

.banner-button{
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #9376e0;
  margin-right: 20px;
  border-radius: 5px;
}

.banner-img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
