@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

*{
  box-sizing: border-box;
}

nav{
  background-color: rgb(147, 118, 224);
}

.nav-container{
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.logo-container{
  display: flex;
  gap: 15px;
  width: 50%;
}

.logo-container img{
  width: 50px;
  object-fit: cover;
}

.logo-container p{
  font-size: 30px;
}
.logo-container p span{
  color: rgb(232, 147, 207);
}

.nav-item-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item-container a{
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.nav-item-container .nav-btn{
  background-color: rgb(232, 147, 207);
  font-size: 25px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
}

